/* General Body */
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f4f7fc;
    margin: 0;
    padding: 0;
}


h1,
h2,
h3,
h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #2c3e50;
    margin-bottom: 10px;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
}

button {
    padding: 8px 12px;
    font-size: 1rem;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
